<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>Esta app necesita acceso a tus datos de salud para sincronizar mediciones de bioimpedancia</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Esta app necesita guardar datos de bioimpedancia en Apple Health</string>
	<key>CFBundleName</key>
	<string>WITO Health</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
</dict>
</plist>
